.carousel-container{
    height: 35rem;
    overflow: hidden;
}

// .carousel-img{
//     opacity: 0.1;
//     margin: auto;
// }

.carousel-content{
    top: 4rem;
    bottom: 0rem;
    text-align: left;
}